<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>工作日志中心</title>
    <base th:href="${#request.getContextPath()}+'/'">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="font/iconsmind-s/css/iconsminds.css" />

    <link rel="stylesheet" href="font/simple-line-icons/css/simple-line-icons.css" />
    <link rel="stylesheet" href="css/vendor/fullcalendar.min.css" />
    <link rel="stylesheet" href="css/vendor/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="css/vendor/datatables.responsive.bootstrap4.min.css" />
    <link rel="stylesheet" href="css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="css/vendor/bootstrap-float-label.min.css" />
    <link rel="stylesheet" href="css/vendor/bootstrap-tagsinput.css" />
    <link rel="stylesheet" href="css/vendor/bootstrap.rtl.only.min.css" />
    <link rel="stylesheet" href="css/vendor/perfect-scrollbar.css" />
    <link rel="stylesheet" href="css/vendor/select2.min.css" />
    <link rel="stylesheet" href="css/vendor/select2-bootstrap.min.css" />
    <link rel="stylesheet" href="css/vendor/glide.core.min.css" />
    <link rel="stylesheet" href="css/vendor/baguetteBox.min.css" />
    <link rel="stylesheet" href="css/vendor/bootstrap-stars.css" />
    <link rel="stylesheet" href="css/vendor/nouislider.min.css" />
    <link rel="stylesheet" href="css/vendor/bootstrap-datepicker3.min.css" />
    <link rel="stylesheet" href="css/vendor/component-custom-switch.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/vendor/dropzone.min.css" />
    <link rel="stylesheet" href="css/vendor/quill.snow.css" />
    <link rel="stylesheet" href="css/vendor/quill.bubble.css" />



    <script src="js/vendor/jquery-3.3.1.min.js"></script>

    <script src="js/vendor/vue.min.js"></script>
    <script src="js/vendor/dropzone.min.js"></script>
    <script src="js/vendor/bootstrap.bundle.min.js"></script>
    <script src="js/vendor/Chart.bundle.min.js"></script>
    <script src="js/vendor/chartjs-plugin-datalabels.js"></script>
    <script src="js/vendor/moment.min.js"></script>
    <script src="js/vendor/fullcalendar.min.js"></script>
    <script src="js/vendor/perfect-scrollbar.min.js"></script>
    <script src="js/vendor/baguetteBox.min.js"></script>
    <script src="js/vendor/glide.min.js"></script>
    <script src="js/vendor/progressbar.min.js"></script>
    <script src="js/vendor/jquery.barrating.min.js"></script>
    <script src="js/vendor/jquery.validate/jquery.validate.min.js"></script>
    <script src="js/vendor/jquery.validate/additional-methods.min.js"></script>
    <script src="js/vendor/bootstrap-tagsinput.min.js"></script>
    <script src="js/vendor/datatables.min.js"></script>
    <script src="js/vendor/dataTables.buttons.min.js"></script>
    <script src="js/vendor/jszip.min.js"></script>
    <script src="js/vendor/pdfmake.min.js"></script>
    <script src="js/vendor/vfs_fonts.js"></script>
    <script src="js/vendor/buttons.html5.min.js"></script>
    <script src="js/vendor/buttons.print.min.js"></script>
    <script src="js/vendor/select2.full.js"></script>
    <script src="js/vendor/nouislider.min.js"></script>
    <script src="js/vendor/bootstrap-datepicker.js"></script>
    <script src="js/vendor/Sortable.js"></script>
    <script src="js/vendor/mousetrap.min.js"></script>
    <script src="js/dore.script.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/vendor/bootstrap-notify.min.js"></script>
    <script src="js/vendor/quill.min.js"></script>
    <script src="js/vendor/ckeditor5-build-classic/ckeditor.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ChFSPAT0N4jcce5lfCBKOh570kD91WOO"></script>

</head>
<body  class="show-spinner">
<div id="app">

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                <div class="mb-3">
                    <h1>工作日志</h1>

                    <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                        <ol class="breadcrumb pt-0">
                            <li class="breadcrumb-item">
                                <a href="#">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#">worklog</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Detail</li>
                        </ol>
                    </nav>
                </div>


                <div class="separator mb-5"></div>
            </div>
        </div>

        <div class="row" >
            <div class="col-12 col-md-12 col-xl-8">
                <div class="card mb-4">
                    <div class="card-body">

                        <div class="glide gallery mb-4 ">
                            <div class="glide__track" data-glide-el="track">
                                <div class="glide__slides">
                                    <a :href="worklog.avatar">
                                        <img class="card-img" :src="worklog.avatar" alt="First image">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="mb-5">
                            <h5 class="card-title">{{worklog.name}}</h5>
                            <p v-html="worklog.content">
                            </p>
                        </div>



                    </div>
                </div>
            </div>





        </div>
        <input type="hidden" name="openid" id="openid"
               th:value="${#httpServletRequest.getAttribute('id')}"/>
    </div>


</div>
<script>
    var id = document.getElementById("openid").value;
    // 消除子窗口内的theme主题按钮
    $(".theme-button").remove()


    var vue=new Vue({
        el:'#app',
        data(){
            return {
                worklog:[],
            }
        },
        methods:{
            init (){
                var self=this;
                $.ajax({
                    type: 'POST',
                    url: host+"worklog/search?id="+id,
                    data: {},
                    success: function (response){
                        if(response.code==0){
                            self.worklog=response.entity;
                        }else{
                            showNotify('top', 'center', "danger","结果","服务器连接异常，请重新尝试。");
                        }
                    }
                });
            }
        },
        mounted(){
            this.init();
        }
    })
</script>

</body>

</html>