<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <base th:href="${#request.getContextPath()}+'/'">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="font/iconsmind-s/css/iconsminds.css" />

    <link rel="stylesheet" href="font/simple-line-icons/css/simple-line-icons.css" />
    <link rel="stylesheet" href="css/vendor/fullcalendar.min.css" />
    <link rel="stylesheet" href="css/vendor/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="css/vendor/datatables.responsive.bootstrap4.min.css" />
    <link rel="stylesheet" href="css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="css/vendor/bootstrap-float-label.min.css" />
    <link rel="stylesheet" href="css/vendor/bootstrap-tagsinput.css" />
    <link rel="stylesheet" href="css/vendor/bootstrap.rtl.only.min.css" />
    <link rel="stylesheet" href="css/vendor/perfect-scrollbar.css" />
    <link rel="stylesheet" href="css/vendor/select2.min.css" />
    <link rel="stylesheet" href="css/vendor/select2-bootstrap.min.css" />
    <link rel="stylesheet" href="css/vendor/glide.core.min.css" />
    <link rel="stylesheet" href="css/vendor/baguetteBox.min.css" />
    <link rel="stylesheet" href="css/vendor/bootstrap-stars.css" />
    <link rel="stylesheet" href="css/vendor/nouislider.min.css" />
    <link rel="stylesheet" href="css/vendor/bootstrap-datepicker3.min.css" />
    <link rel="stylesheet" href="css/vendor/component-custom-switch.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/vendor/dropzone.min.css" />
    <link rel="stylesheet" href="css/vendor/quill.snow.css" />
    <link rel="stylesheet" href="css/vendor/quill.bubble.css" />


    <script src="js/vendor/jquery-3.3.1.min.js"></script>
    <script src="js/vendor/vue.min.js"></script>
    <script src="js/vendor/dropzone.min.js"></script>
    <script src="js/vendor/bootstrap.bundle.min.js"></script>
    <script src="js/vendor/Chart.bundle.min.js"></script>
    <script src="js/vendor/chartjs-plugin-datalabels.js"></script>
    <script src="js/vendor/moment.min.js"></script>
    <script src="js/vendor/fullcalendar.min.js"></script>
    <script src="js/vendor/perfect-scrollbar.min.js"></script>
    <script src="js/vendor/baguetteBox.min.js"></script>
    <script src="js/vendor/glide.min.js"></script>
    <script src="js/vendor/progressbar.min.js"></script>
    <script src="js/vendor/jquery.barrating.min.js"></script>
    <script src="js/vendor/jquery.validate/jquery.validate.min.js"></script>
    <script src="js/vendor/jquery.validate/additional-methods.min.js"></script>
    <script src="js/vendor/bootstrap-tagsinput.min.js"></script>
    <script src="js/vendor/datatables.min.js"></script>
    <script src="js/vendor/dataTables.buttons.min.js"></script>
    <script src="js/vendor/jszip.min.js"></script>
    <script src="js/vendor/pdfmake.min.js"></script>
    <script src="js/vendor/vfs_fonts.js"></script>
    <script src="js/vendor/buttons.html5.min.js"></script>
    <script src="js/vendor/buttons.print.min.js"></script>
    <script src="js/vendor/select2.full.js"></script>
    <script src="js/vendor/nouislider.min.js"></script>
    <script src="js/vendor/bootstrap-datepicker.js"></script>
    <script src="js/vendor/Sortable.js"></script>
    <script src="js/vendor/mousetrap.min.js"></script>
    <script src="js/dore.script.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/vendor/bootstrap-notify.min.js"></script>
    <script src="js/vendor/quill.min.js"></script>
    <script src="js/vendor/ckeditor5-build-classic/ckeditor.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ChFSPAT0N4jcce5lfCBKOh570kD91WOO"></script>

</head>
<body  class="show-spinner">

<div class="container-fluid" id="app">
    <div class="row">
        <div class="col-12">

            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="mb-4">个人中心</h5>
                        <input type="hidden" v-model="users.id">
                        <div class="form-group">
                            <label for="username">用户名</label>
                            <input type="text" id="username"   v-model="users.username" class="form-control" >
<!--                            <small id="emailHelp" class="form-text text-muted">We'll never share your email-->
<!--                                with anyone else.</small>-->
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">密码</label>
                            <input type="text"  v-model="users.password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>

                        <div class="form-group">
                            <label for="nickname">昵称</label>
                            <input type="text"  v-model="users.nickname" class="form-control" id="nickname">
                        </div>

                        <div class="form-group">
                            <label for="type">用户类型</label>
                            <input type="text"  v-model="users.usertype" disabled class="form-control" id="type">
                        </div>

                        <div class="form-group">
                            <label for="gender">性别</label>
                            <input type="text"  v-model="users.gender"  class="form-control" id="gender">
                        </div>

                        <div class="form-group">
                            <label for="address">地址</label>
                            <input type="text"  v-model="users.address"  class="form-control" id="address">
                        </div>


                </div>
            </div>

            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="mb-4">头像</h5>
                    <form action="/file-upload">
                        <div class="dropzone">
                        </div>
                    </form>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-body">
                    <button @click="changeProfile" class="btn btn-primary mb-0">提交</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    // 消除子窗口内的theme主题按钮
    $(".theme-button").remove()

    var vue=new Vue({
        el: '#app',
        data() {
            return {
                users:{}
            }
        },
        methods:{
            init(){
                var id=localStorage.getItem("userid");
                var self=this;
                $.ajax({
                    type: 'POST',
                    url: host+"users/nowuser",
                    data: {
                    },
                    success: function (response){
                        self.users=response.entity
                    },
                    error:function (){
                        showNotify('top', 'center', "danger","用户信息","获取个人信息失败，请稍后重新尝试。");
                    }
                });
            },
            changeProfile(){
                // 获取图片地址
                var imgdata=imghost+tempimg.data;

                if (imgdata==imghost){
                    imgdata=this.users.avatar
                }

                $.ajax({
                    type: 'POST',
                    url: host+"users/addOrUpdate",
                    data: {
                        id:this.users.id,
                        username:this.users.username,
                        password:this.users.password,
                        type:this.users.type,
                        nickname:this.users.nickname,
                        address:this.users.address,
                        avatar:imgdata,
                        gender:this.users.gender
                    },
                    success: function (response){
                        if(response.code==0){
                            showNotify('top', 'center', "success","用户信息","修改用户信息成功！");
                        }
                    },
                    error:function (){
                        showNotify('top', 'center', "danger","用户信息","修改个人信息失败，请稍后重新尝试。");
                    }
                });
            }
        },
        mounted(){
            this.init();
        }
    })
</script>
</body>
</html>