<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人技能</title>
    <base th:href="${#request.getContextPath()}+'/'">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="font/iconsmind-s/css/iconsminds.css" />

    <link rel="stylesheet" href="font/simple-line-icons/css/simple-line-icons.css" />
    <link rel="stylesheet" href="css/vendor/fullcalendar.min.css" />
    <link rel="stylesheet" href="css/vendor/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="css/vendor/datatables.responsive.bootstrap4.min.css" />
    <link rel="stylesheet" href="css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="css/vendor/bootstrap-float-label.min.css" />
    <link rel="stylesheet" href="css/vendor/bootstrap-tagsinput.css" />
    <link rel="stylesheet" href="css/vendor/bootstrap.rtl.only.min.css" />
    <link rel="stylesheet" href="css/vendor/perfect-scrollbar.css" />
    <link rel="stylesheet" href="css/vendor/select2.min.css" />
    <link rel="stylesheet" href="css/vendor/select2-bootstrap.min.css" />
    <link rel="stylesheet" href="css/vendor/glide.core.min.css" />
    <link rel="stylesheet" href="css/vendor/baguetteBox.min.css" />
    <link rel="stylesheet" href="css/vendor/bootstrap-stars.css" />
    <link rel="stylesheet" href="css/vendor/nouislider.min.css" />
    <link rel="stylesheet" href="css/vendor/bootstrap-datepicker3.min.css" />
    <link rel="stylesheet" href="css/vendor/component-custom-switch.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/vendor/dropzone.min.css" />
    <link rel="stylesheet" href="css/vendor/quill.snow.css" />
    <link rel="stylesheet" href="css/vendor/quill.bubble.css" />



    <script src="js/vendor/jquery-3.3.1.min.js"></script>

    <script src="js/vendor/vue.min.js"></script>
    <script src="js/vendor/dropzone.min.js"></script>
    <script src="js/vendor/bootstrap.bundle.min.js"></script>
    <script src="js/vendor/Chart.bundle.min.js"></script>
    <script src="js/vendor/chartjs-plugin-datalabels.js"></script>
    <script src="js/vendor/moment.min.js"></script>
    <script src="js/vendor/fullcalendar.min.js"></script>
    <script src="js/vendor/perfect-scrollbar.min.js"></script>
    <script src="js/vendor/baguetteBox.min.js"></script>
    <script src="js/vendor/glide.min.js"></script>
    <script src="js/vendor/progressbar.min.js"></script>
    <script src="js/vendor/jquery.barrating.min.js"></script>
    <script src="js/vendor/jquery.validate/jquery.validate.min.js"></script>
    <script src="js/vendor/jquery.validate/additional-methods.min.js"></script>
    <script src="js/vendor/bootstrap-tagsinput.min.js"></script>
    <script src="js/vendor/datatables.min.js"></script>
    <script src="js/vendor/dataTables.buttons.min.js"></script>
    <script src="js/vendor/jszip.min.js"></script>
    <script src="js/vendor/pdfmake.min.js"></script>
    <script src="js/vendor/vfs_fonts.js"></script>
    <script src="js/vendor/buttons.html5.min.js"></script>
    <script src="js/vendor/buttons.print.min.js"></script>
    <script src="js/vendor/select2.full.js"></script>
    <script src="js/vendor/nouislider.min.js"></script>
    <script src="js/vendor/bootstrap-datepicker.js"></script>
    <script src="js/vendor/Sortable.js"></script>
    <script src="js/vendor/mousetrap.min.js"></script>
    <script src="js/dore.script.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/vendor/bootstrap-notify.min.js"></script>
    <script src="js/vendor/quill.min.js"></script>
    <script src="js/vendor/ckeditor5-build-classic/ckeditor.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ChFSPAT0N4jcce5lfCBKOh570kD91WOO"></script>

</head>
<body  class="show-spinner">

<div class="container-fluid" id="app">
    <div class="row">
        <div class="mb-4">

            <div class="card mb-4">
                <div class="position-absolute card-top-buttons">
<!--                    <button class="btn btn-outline-white icon-button ">-->
<!--                        <i class="simple-icon-pencil" ></i>-->
<!--                    </button>-->
                </div>
                <img :src="users.avatar" alt="Detail Picture" class="card-img-top">

                <div class="card-body">
                    <p class="text-muted text-small mb-2">职位</p>
                    <p class="mb-3" >
                            {{roles.name}}
                    </p>

                    <p class="text-muted text-small mb-2">地址</p>
                    <p class="mb-3">
                        {{users.address}}
                    </p>

                    <p class="text-muted text-small mb-2">技能</p>
                    <p class="mb-3">
                        <a v-for="item in skills" :key="item" @click="deleteItem(item.id)">
                            <span class="badge badge-pill badge-outline-theme-2 mb-1">{{item.name}}
                                <span style="color:red">X</span>
                            </span>
                        </a>
                    </p>
                    <button  class="btn btn-primary btn-lg btn-shadow" data-toggle="modal"
                             data-target="#skillModal" data-whatever="@mdo">添加技能</button>
                </div>
            </div>
    </div>




        <!-- modal -->
        <div class="modal fade" id="skillModal" tabindex="-1" role="dialog"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalContentLabel">添加技能</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <select class="custom-select" v-model="tempid">
                            <option v-for="item in allskill" :value="item.id">{{item.name}}</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                    <span style="color:red">
                        {{msg}}
                    </span>
                        <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" @click="addItem">添加</button>
                    </div>
                </div>
            </div>
        </div>
</div>


<script>

    // 消除子窗口内的theme主题按钮
    $(".theme-button").remove()

    var vue=new Vue({
        el: '#app',
        data() {
            return {
                users:{},
                roles:{},
                skills:[],
                msg:"",
                tempid:"",
                allskill:[]
            }
        },
        methods:{
            addItem(){
                let id = this.tempid
                let self=this;
                $.ajax({
                    type: 'POST',
                    url: host+"userskills/addOrUpdate",
                    data: {
                        skillid:id
                    },
                    success: function (response){
                        if(response.code==0){
                            self.initSkills();
                        }
                    }
                });
            },
            allSkills(){
                let self=this;
                $.ajax({
                    type: 'POST',
                    url: host+"skills/list",
                    data: {
                    },
                    success: function (response){
                        if(response.code==0){
                            self.allskill=response.aaData;
                        }
                    }
                });
            },
            initSkills(){
                let self=this;
                $.ajax({
                    type: 'POST',
                    url: host+"userskills/nowuser",
                    data: {id:self.users.id},
                    success: function (response){
                        if(response.code==0){
                            self.skills=response.aaData;
                        }
                    }
                });
            },
            deleteItem(id){
                let self=this;
                $.ajax({
                    type: 'POST',
                    url: host+"userskills/delete",
                    data: {id:id},
                    success: function (response){
                        if(response.code==0){
                            self.initSkills();
                        }
                    }
                });
            },
            filterRole(){
                let self=this;
                $.ajax({
                    type: 'POST',
                    url: host+"roles/selectByUser",
                    data: {id:self.users.id},
                    success: function (response){
                        if(response.code==0){
                            self.roles=response.entity;
                        }
                    }
                });
            },
            initUser(){
                // 默认头像
                this.users.avatar='http://ftp.konngo.cn/demo011701/3c2f6c0f-8b1f-4726-a234-d30ddf8998b8.jpg';
                let self=this;
                $.ajax({
                    type: 'POST',
                    url: host+"users/nowuser",
                    data: {},
                    success: function (response){
                        if(response.code==0){
                            self.users=response.entity;
                            self.filterRole();
                        }
                    }
                });
            }
        },
        mounted(){
            this.initUser();
            this.initSkills();
            this.allSkills();
        }
    })
</script>
</body>
</html>