<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>工作日志中心</title>
    <base th:href="${#request.getContextPath()}+'/'">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="font/iconsmind-s/css/iconsminds.css" />

    <link rel="stylesheet" href="font/simple-line-icons/css/simple-line-icons.css" />
    <link rel="stylesheet" href="css/vendor/fullcalendar.min.css" />
    <link rel="stylesheet" href="css/vendor/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="css/vendor/datatables.responsive.bootstrap4.min.css" />
    <link rel="stylesheet" href="css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="css/vendor/bootstrap-float-label.min.css" />
    <link rel="stylesheet" href="css/vendor/bootstrap-tagsinput.css" />
    <link rel="stylesheet" href="css/vendor/bootstrap.rtl.only.min.css" />
    <link rel="stylesheet" href="css/vendor/perfect-scrollbar.css" />
    <link rel="stylesheet" href="css/vendor/select2.min.css" />
    <link rel="stylesheet" href="css/vendor/select2-bootstrap.min.css" />
    <link rel="stylesheet" href="css/vendor/glide.core.min.css" />
    <link rel="stylesheet" href="css/vendor/baguetteBox.min.css" />
    <link rel="stylesheet" href="css/vendor/bootstrap-stars.css" />
    <link rel="stylesheet" href="css/vendor/nouislider.min.css" />
    <link rel="stylesheet" href="css/vendor/bootstrap-datepicker3.min.css" />
    <link rel="stylesheet" href="css/vendor/component-custom-switch.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/vendor/dropzone.min.css" />
    <link rel="stylesheet" href="css/vendor/quill.snow.css" />
    <link rel="stylesheet" href="css/vendor/quill.bubble.css" />



    <script src="js/vendor/jquery-3.3.1.min.js"></script>

    <script src="js/vendor/vue.min.js"></script>
    <script src="js/vendor/dropzone.min.js"></script>
    <script src="js/vendor/bootstrap.bundle.min.js"></script>
    <script src="js/vendor/Chart.bundle.min.js"></script>
    <script src="js/vendor/chartjs-plugin-datalabels.js"></script>
    <script src="js/vendor/moment.min.js"></script>
    <script src="js/vendor/fullcalendar.min.js"></script>
    <script src="js/vendor/perfect-scrollbar.min.js"></script>
    <script src="js/vendor/baguetteBox.min.js"></script>
    <script src="js/vendor/glide.min.js"></script>
    <script src="js/vendor/progressbar.min.js"></script>
    <script src="js/vendor/jquery.barrating.min.js"></script>
    <script src="js/vendor/jquery.validate/jquery.validate.min.js"></script>
    <script src="js/vendor/jquery.validate/additional-methods.min.js"></script>
    <script src="js/vendor/bootstrap-tagsinput.min.js"></script>
    <script src="js/vendor/datatables.min.js"></script>
    <script src="js/vendor/dataTables.buttons.min.js"></script>
    <script src="js/vendor/jszip.min.js"></script>
    <script src="js/vendor/pdfmake.min.js"></script>
    <script src="js/vendor/vfs_fonts.js"></script>
    <script src="js/vendor/buttons.html5.min.js"></script>
    <script src="js/vendor/buttons.print.min.js"></script>
    <script src="js/vendor/select2.full.js"></script>
    <script src="js/vendor/nouislider.min.js"></script>
    <script src="js/vendor/bootstrap-datepicker.js"></script>
    <script src="js/vendor/Sortable.js"></script>
    <script src="js/vendor/mousetrap.min.js"></script>
    <script src="js/dore.script.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/vendor/bootstrap-notify.min.js"></script>
    <script src="js/vendor/quill.min.js"></script>
    <script src="js/vendor/ckeditor5-build-classic/ckeditor.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ChFSPAT0N4jcce5lfCBKOh570kD91WOO"></script>

</head>
<body  class="show-spinner">
<div id="app">

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1>工作日志管理</h1>

                <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                    <ol class="breadcrumb pt-0">
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Worklog</a>
                        </li>
                    </ol>
                </nav>

                <div class="separator"></div>


                <button type="button" class="btn btn-light default mb-1"  @click="showAddItem()">发布新工作日志</button>
            </div>
        </div>
        <br><br>
        <div class="row" v-show="show">
            <div class="col-12">
            <div class="row listing-card-container" >
            <div class="col-3"  v-for="item in worklog" :key="item">
                <div class="card ">
                    <div class="position-relative">
                        <img class="card-img-left" :src="item.avatar" alt="Card image cap" style="height: 150px;">
                        <span class="badge badge-pill badge-theme-1 position-absolute badge-top-left" v-html="filterLabel(item.labels)"></span>
                    </div>
                    <div class="card-body">
                        <a :href="'worklog/details?id='+item.id">
                            <h6 class="mb-3 listing-heading ellipsis"><div style="margin: 0px; padding: 0px; border: 0px;">
                                {{item.name}}
                            </div></h6>
                        </a>
                        <footer v-html="filterName(item.userid)">

                        </footer>
                    </div>
                </div>
            </div>
        </div>
                </div>
        </div>

        <div class="row" v-show="!show">
            <div class="col-12">


                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="mb-4">工作日志信息</h5>

                        <input type="hidden" v-model="log.id">


                        <label class="form-group has-float-label mb-4">
                            <input class="form-control" v-model="log.name"> <span>标题</span>
                        </label>

                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-body">
                        <textarea name="content" id="ckEditorClassic" style="display: none;"></textarea>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="mb-4">封面图片</h5>
                        <form action="/file-upload">
                            <div class="dropzone">
                            </div>
                        </form>

                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="mb-4">选择标签</h5>

                        <select class="custom-select" v-model="log.labels">
                            <option v-for="item in labels" :value="item.id">{{item.name}}</option>
                        </select>

                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-body">
                        <button  class="btn btn-primary btn-lg btn-shadow" @click="addItem">提交</button>
                        <button  class="btn btn-primary btn-lg btn-shadow" @click="reback">返回</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
</body>



<script>
    // 消除子窗口内的theme主题按钮
    $(".theme-button").remove()


    var vue=new Vue({
        el:'#app',
        data(){
            return {
                show:true,
                worklog:[],
                users:[],
                seachtext:'',
                label:{},
                name:{},
                log :{},
                alluser:[],
                labels:[],
            }
        },
        methods:{
            reback(){
                this.show=true;
                this.init();
            },
            getAllLabels(){
                // 获取所有标签
                let self = this
                $.ajax({
                    type: 'POST',
                    url: host+"labels/list",
                    data: {},
                    success: function (response){
                        if(response.code==0){
                            self.labels=response.aaData;
                        }else{
                            showNotify('top', 'center', "danger","结果","获取角色信息失败，请联系管理员。");
                        }
                    }
                });
            },
            getAlluser(){
                // 获取所有用户
                let self = this
                $.ajax({
                    type: 'POST',
                    url: host+"users/list",
                    data: {},
                    success: function (response){
                        if(response.code==0){
                            self.alluser=response.aaData;
                        }else{
                            showNotify('top', 'center', "danger","结果","获取角色信息失败，请联系管理员。");
                        }
                    }
                });
            },
            addItem(){
                // 获取图片地址
                var imgdata=imghost+tempimg.data;
                if (imgdata==imghost){
                    imgdata=this.log.avatar
                }

                $.ajax({
                    type: 'POST',
                    url: host+"worklog/addOrUpdate",
                    data: {
                        id:this.log.id,
                        name:this.log.name,
                        content:ckEditor.getData().toString(),
                        userid:this.log.userid,
                        avatar:imgdata,
                        labels:this.log.labels
                    },
                    success: function (response){
                        if(response.code==0){
                            showNotify('top', 'center', "success","结果","保存成功！");
                            datatableRow.ajax.reload();
                        }else{
                            showNotify('top', 'center', "danger","结果","保存失败，请重新尝试。");
                        }
                    }
                });

            },
            cancleEdit(){
                // 返回表格
                this.show=true;
            },
            filterName(id){
                var name = "admin"
                for(var i = 0 ; i< this.alluser.length ; i++){
                    if (id == this.alluser[i].id){
                        name = this.alluser[i].nickname
                    }
                }
                return name;
            },
            filterLabel(id){
                var name = ""
                for(var i = 0 ; i< this.labels.length ; i++){
                    if (id == this.labels[i].id){
                        name = this.labels[i].name
                    }
                }
                return name;
            },
            filterByName(worklog,name){
                return worklog.filter(item => item.name == name)
            },
            searchtest(){
                this.init();
            },
            init (){
                var self=this;
                $.ajax({
                    type: 'POST',
                    url: host+"worklog/list",
                    data: {},
                    success: function (response){
                        if(response.code==0){
                            self.worklog=response.aaData;
                            if (self.seachtext!=''){
                                let name = self.seachtext
                                let demo=self.worklog.filter(item=> item.title.indexOf(name)!=-1);
                                self.worklog=demo
                            }
                        }else{
                            showNotify('top', 'center', "danger","结果","服务器连接异常，请重新尝试。");
                        }
                    }
                });
                $.ajax({
                    type: 'POST',
                    url: host+"users/list",
                    data: {},
                    success: function (response){
                        if(response.code==0){
                            self.users=response.aaData;
                            console.log(self.users)
                        }else{
                            showNotify('top', 'center', "danger","结果","服务器连接异常，请重新尝试。");
                        }
                    }
                });
            },
            formateUser(id){
                let nickname='' ;
                this.users.forEach(item=>{
                    if (item.id=id){
                        username=item.nickname
                    }
                })
                return nickname;
            },
            showAddItem(){
                //显示添加界面
                this.show=false;
                // 清空
                this.log={}
            },
        },
        mounted(){
            this.init();
        },
        created(){
            this.getAllLabels();
            this.getAlluser();
        }
    })

</script>



</html>