<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.konngo.dao.BugresolveDao">

    <resultMap id="BugresolveEntity" type="cn.konngo.entity.BugresolveEntity">

                <result property="id" column="id"/>
                <result property="name" column="name"/>
                <result property="content" column="content"/>

    </resultMap>

    <select id="list" resultMap="BugresolveEntity">
        SELECT * from bugresolve ;
    </select>

    <select id="select" resultMap="BugresolveEntity">
        select * from bugresolve where id=#{id}
    </select>

    <insert id="insert" >
        insert into bugresolve
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id!=null" >id,</if>
                <if test="name!=null" >name,</if>
                <if test="content!=null" >content,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id!=null" >#{
                    id},</if>
                <if test="name!=null" >#{
                    name},</if>
                <if test="content!=null" >#{
                    content},</if>
        </trim>
    </insert>

    <update id="update">
        update bugresolve
        <set>
            <trim  suffixOverrides=",">
                <if test="id!=null" >id=#{id},</if>
                <if test="name!=null" >name=#{name},</if>
                <if test="content!=null" >content=#{content},</if>
            </trim>
        </set>
        where id=#{id}
    </update>

    <delete id="delete">
        delete from bugresolve where id=#{id}
    </delete>

</mapper>