<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.konngo.dao.PermissionsDao">

    <resultMap id="PermissionsEntity" type="cn.konngo.entity.PermissionsEntity">
                <result property="id" column="id"/>
                <result property="name" column="name"/>
                <result property="others" column="others"/>
    </resultMap>

    <select id="list" resultMap="PermissionsEntity">
        SELECT  * from permissions ;
    </select>


    <select id="select" resultMap="PermissionsEntity">
        select * from permissions where id=#{id}
    </select>
    <select id="listByRoles" resultMap="PermissionsEntity">
        select p.* from permissions p join rolepermissions r on r.perid=p.id where r.roleid=#{id}
    </select>

    <insert id="insert"  useGeneratedKeys="true" keyProperty="id">
        insert into permissions
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="name!=null" >name,</if>
                <if test="others!=null" >others,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="name!=null" >#{
                    name},</if>
                <if test="others!=null" >#{
                    others}</if>
        </trim>
    </insert>

    <update id="update">
        update permissions
        <set>
            <trim  suffixOverrides=",">
                <if test="name!=null" >name=#{name},</if>
                <if test="others!=null" >others=#{others}</if>
            </trim>
        </set>
        where id=#{id}
    </update>

    <delete id="delete">
        delete from permissions where id=#{id}
    </delete>

</mapper>