<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.konngo.dao.UserskillsDao">

    <resultMap id="UserskillsEntity" type="cn.konngo.entity.UserskillsEntity">

                <result property="id" column="id"/>
                <result property="userid" column="userid"/>
                <result property="skillid" column="skillid"/>

    </resultMap>

    <select id="list" resultMap="UserskillsEntity">
        SELECT * from userskills ;
    </select>


    <select id="select" resultMap="UserskillsEntity">
        select * from userskills where id=#{id}
    </select>

    <insert id="insert" >
        insert into userskills
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="userid!=null" >userid,</if>
                <if test="skillid!=null" >skillid,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="userid!=null" >#{
                    userid},</if>
                <if test="skillid!=null" >#{
                    skillid},</if>
        </trim>
    </insert>

    <update id="update">
        update userskills
        <set>
            <trim  suffixOverrides=",">
                <if test="userid!=null" >userid=#{userid},</if>
                <if test="skillid!=null" >skillid=#{skillid},</if>
            </trim>
        </set>
        where id=#{id}
    </update>

    <delete id="delete">
        delete from userskills where id=#{id}
    </delete>


    <delete id="deleteByuser">
        delete from userskills where skillid=#{skillid} and userid=#{userid}
    </delete>

</mapper>